.navbar {
  width: 90%;
  margin: 20px auto;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.feed {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.post {
  width: 400px;
  padding: 15px;
  color: white;
}

.post img {
  width: 100%;
  border-radius: 15px;
}

.post-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post-actions button {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}
